@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap);
@charset "UTF-8";
@font-face {
  font-family: Play;
  font-display: swap;
  src: url("../fonts/play_bold.woff2") format("woff2"), url("../fonts/play_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: UniSans;
  font-display: swap;
  src: url("../fonts/uni_sans_regular.woff2") format("woff2"), url("../fonts/uni_sans_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 71.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.button {
  display: inline-flex;
  padding: 0px 25px;
  justify-content: center;
  align-items: center;
  height: 39px;
  background-color: #f68038;
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #cf6b2c;
  }
}
.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  height: 100%;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus + .checkbox__label:before {
  box-shadow: 0 0 5px #000;
}
.checkbox__input:checked + .checkbox__label:before {
  background: #000;
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.brands-slider__slide img {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
}
@media (any-hover: hover) {
  .brands-slider__slide img:hover {
    filter: grayscale(0);
  }
}

._arrow {
  background: url("../img/icons/sl_arrow.svg") 0 0 no-repeat;
  width: 2.0625rem;
  height: 1.875rem;
  cursor: pointer;
}
@media (any-hover: hover) {
  ._arrow:hover {
    background: url("../img/icons/sl_arrow_h.svg") 0 0 no-repeat;
  }
}
._arrow_prev {
  transform: rotate(-180deg);
}
@media (any-hover: hover) {
  ._arrow_prev:hover {
    transform: rotate(0deg);
  }
}
@media (any-hover: hover) {
  ._arrow_next:hover {
    transform: rotate(-180deg);
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #fff url("../img/bg_header.jpg") top no-repeat;
}
@media (max-width: 47.99875em) {
  .header {
    background: #fff url("../img/bg_header.jpg") 0 -20px no-repeat;
  }
}
.top-header__container {
  display: flex;
  align-items: center;
  height: 90px;
}
@media (max-width: 47.99875em) {
  .top-header__container {
    height: 70px;
  }
}
.top-header__column {
  flex: 0 1 50%;
}
.top-header__column_logo {
  flex: 0 0 100px;
  text-align: center;
}
@media (min-width: 61.99875em) {
  .top-header__column_logo {
    align-self: flex-start;
    flex: 0 0 190px;
    padding: 25px 0px 0px 0px;
  }
}
.top-header__logo {
  display: inline-block;
  position: relative;
  z-index: 5;
}
@media (max-width: 47.99875em) {
  .top-header__logo {
    width: 90px;
  }
  .top-header__logo img {
    max-width: 100%;
  }
}
.top-header__contacts {
  position: relative;
  z-index: 5;
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: all 0.3s ease 0s;
    padding: 100px 20px 30px 20px;
    background-color: #fff;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #14c0d4;
  }
  .menu-open .menu__body {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 47.99875em) {
  .menu__body::before {
    height: 70px;
  }
}
.menu__list {
  display: grid;
  grid-template-columns: 110px 130px 180px;
}
@media (max-width: 72.5em) {
  .menu__list {
    grid-template-columns: 90px 110px 160px;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    display: block;
  }
}
.menu__item {
  margin: 1px 0px;
}
@media (max-width: 61.99875em) {
  .menu__item {
    margin: 0px 0px 10px 0px;
  }
}
.menu__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  min-height: 27px;
  padding: 3px 22px;
  font-family: Play;
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    border-radius: 20px;
    background-color: #068292;
    text-decoration: underline;
  }
}
@media (max-width: 72.5em) {
  .menu__link {
    padding: 3px 10px;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    color: #000;
    padding: 0;
    font-size: 18px;
  }
}

.contacts-header {
  display: flex;
  justify-content: center;
}
@media (max-width: 61.99875em) {
  .contacts-header {
    justify-content: flex-end;
  }
}
.contacts-header__column {
  padding: 0px 30px;
  border-left: 1px solid #fff;
}
.contacts-header__column:first-child {
  border: 0;
}
@media (max-width: 72.5em) {
  .contacts-header__column {
    padding: 0px 15px;
  }
}
@media (max-width: 61.99875em) {
  .contacts-header__column:last-child {
    display: none;
  }
}
@media (max-width: 40em) {
  .contacts-header__column {
    padding: 0;
  }
}
.contacts-header__item_icon {
  background: url("../img/icons/header/phone.png") left no-repeat;
  padding: 0px 0px 0px 37px;
}
@media (max-width: 72.5em) {
  .contacts-header__item_icon {
    padding: 0px 0px 0px 25px;
    background-size: 15px;
  }
}
@media (max-width: 40em) {
  .contacts-header__item_icon {
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.contacts-header__label {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin: 0px 0px 5px 0px;
}
@media (max-width: 40em) {
  .contacts-header__label {
    display: none;
  }
}
.contacts-header__phone {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  white-space: nowrap;
}
@media (max-width: 72.5em) {
  .contacts-header__phone {
    font-size: 16px;
  }
}
@media (max-width: 40em) {
  .contacts-header__phone {
    background: url("../img/icons/header/phone.png") left no-repeat;
    display: inline-block;
    width: 19px;
    height: 25px;
    font-size: 0;
    vertical-align: middle;
  }
}

.bottom-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
@media (min-width: 72.5em) {
  .bottom-header__row {
    padding: 0px 10px;
  }
}
@media (max-width: 40em) {
  .bottom-header__row {
    height: 0;
  }
}
.bottom-header__column {
  flex: 0 1 calc(50% - 95px);
}
.actions-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 61.99875em) {
  .actions-header {
    justify-content: flex-start;
  }
}
@media (max-width: 40em) {
  .actions-header {
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
  }
}
.actions-header__item:not(:last-child) {
  margin-right: 54px;
}
@media (max-width: 72.5em) {
  .actions-header__item:not(:last-child) {
    margin-right: 25px;
  }
}
.actions-header__link {
  display: inline-block;
  line-height: 24px;
  padding: 0px 0px 0px 36px;
  color: #999;
  transition: all 0.3s ease 0s;
}
.actions-header__link span {
  border-bottom: 1px dotted;
}
@media (any-hover: hover) {
  .actions-header__link:hover {
    color: #1ab9ce;
  }
}
@media (max-width: 72.5em) {
  .actions-header__link {
    padding: 0px 0px 0px 30px;
  }
}
@media (max-width: 61.99875em) {
  .actions-header__link {
    padding: 0;
    background: none;
    line-height: 0;
  }
}
.actions-header__link_login {
  background: url("../img/icons/header/login.png") left no-repeat;
}
.actions-header__link_reg {
  background: url("../img/icons/header/user.png") left no-repeat;
}
.actions-header__link_email {
  background: url("../img/icons/header/mail.png") left no-repeat;
}
.actions-header__link_email span {
  border-bottom: 1px solid;
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header__column:not(:last-child) {
  padding-right: 38px;
}
@media (max-width: 72.5em) {
  .info-header__column:not(:last-child) {
    padding-right: 25px;
  }
}
.info-header__link {
  display: inline-block;
  padding: 0px 0px 0px 32px;
  line-height: 20px;
  color: #999;
}
.info-header__link_callback {
  background: url("../img/icons/header/callback.png") left no-repeat;
  color: #1ab9ce;
  white-space: nowrap;
}
.info-header__link_callback span {
  border-bottom: 1px dotted;
}
@media (max-width: 72.5em) {
  .info-header__link_callback {
    background: none;
    padding: 0;
  }
}
.info-header__link_schedule {
  background: url("../img/icons/header/schedule.png") left no-repeat;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}
.info-header__link_schedule span {
  font-weight: 900;
}
@media (max-width: 72.5em) {
  .info-header__link_schedule {
    background: none;
    padding: 0;
  }
}
@media (max-width: 61.99875em) {
  .info-header__link_schedule {
    display: none;
  }
}
.info-header__link_cart {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 43px;
  background: url("../img/icons/header/cart.png") 0 0 no-repeat;
}
.info-header__link_cart span {
  position: absolute;
  top: 0;
  right: -30px;
  padding: 0px 11px;
  line-height: 25px;
  border-radius: 20px;
  background-color: #f68038;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 72.5em) {
  .info-header__link_cart span {
    right: -20px;
    top: -5px;
    font-weight: 500;
    padding: 0px 8px;
  }
}
@media (max-width: 40em) {
  .info-header__link_cart {
    margin: 0px 10px;
    width: 30px;
    height: 30px;
    background: url("../img/icons/header/cart.png") 50%/cover no-repeat;
  }
  .info-header__link_cart span {
    right: -10px;
    top: -5px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 5px 0px 4px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer__body {
  display: flex;
  margin-bottom: 1.875rem;
}
.footer__column {
  flex: 0 1 50%;
}
.footer__block {
  display: flex;
}
.footer__bottom {
  display: flex;
}
.footer__copy {
  flex: 1 1 auto;
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}
.block-footer {
  margin-bottom: 3.4375rem;
}
.block-footer__phones {
  display: flex;
  align-items: center;
}
.block-footer__icon {
  margin-right: 0.9375rem;
}
.block-footer__list p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.block-footer__phone {
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}
.logo-footer {
  display: block;
  margin: 0px 2.8125rem 1.875rem 0px;
}

.delivery-footer__title {
  margin-bottom: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #999999;
}
.delivery-footer__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.delivery-footer__item {
  flex: 0 1 25%;
}

.widgets-footer {
  display: flex;
}
.widgets-footer__column {
  flex: 0 1 50%;
}
.widgets-footer__column img {
  width: 16.25rem;
  height: 100%;
}

.social-footer {
  display: flex;
  align-items: center;
}
.social-footer__item:not(:last-child) {
  margin-right: 0.9375rem;
}

.page {
  padding: 160px 0px 0px 0px;
}
@media (max-width: 47.99875em) {
  .page {
    padding: 130px 0px 0px 0px;
  }
}
@media (max-width: 40em) {
  .page {
    padding: 85px 0px 0px 0px;
  }
}
.page__container {
  margin-bottom: 1.25rem;
}
@media (min-width: 61.99875em) {
  .page__container {
    display: flex;
  }
}
.page__side {
  flex: 0 0 260px;
  position: relative;
  z-index: 10;
}
@media (max-width: 61.99875em) {
  .page__side {
    margin: 0px 0px 30px 0px;
  }
}
.page__menu {
  margin: 0px 0px 40px 0px;
}
@media (min-width: 61.99875em) {
  .page__content {
    flex: 1 1 auto;
    padding: 0px 0px 0px 30px;
    min-width: 0;
  }
}
.page__search {
  margin: 0px 0px 20px 0px;
  position: relative;
  z-index: 5;
}
.page__slider-main {
  margin: 0px 0px 65px 0px;
}
.page__news-side:not(:last-child) {
  margin-bottom: 4.6875rem;
}
.page__brands {
  margin-bottom: 1.875rem;
}
.page__text {
  margin-bottom: 2.5rem;
}
.page__info-menu {
  margin-bottom: 2.5rem;
}

.menu-page {
  background: url("../img/bg_menu.jpg") top repeat;
  position: relative;
}
.menu-page__header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.menu-page__title {
  font-family: UniSans;
  font-size: 30px;
  line-height: 1.1666666667;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  flex: 1 1 auto;
}
.menu-page__burger {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  background-color: #068292;
  padding: 10px 6px;
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.menu-page__burger span, .menu-page__burger::before, .menu-page__burger::after {
  content: "";
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #fff;
}
.menu-page__burger::before {
  top: 8px;
}
.menu-page__burger::after {
  bottom: 8px;
}
.menu-page__burger span {
  top: calc(50% - 0.0625rem);
}
.menu-page__burger._active span {
  width: 0;
}
.menu-page__burger._active::before {
  top: calc(50% - 0.0625rem);
  transform: rotate(-45deg);
}
.menu-page__burger._active::after {
  bottom: calc(50% - 0.0625rem);
  transform: rotate(45deg);
}
.menu-page__line {
  position: relative;
  height: 16px;
}
.menu-page__body {
  display: none;
  transition: all 0.3s ease 0s;
}
.menu-page__body._active {
  display: block;
}
.menu-page__item {
  border-bottom: 1px solid #1aa7b9;
}
.menu-page__item_parent .menu-page__link::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  right: 20px;
  transform: translate(0px, -50%);
  background: url("../img/menu_arrow.png") 0 0 no-repeat;
  transition: transform 0.3s ease 0s;
}
.menu-page__item._active .menu-page__submenu {
  pointer-events: all;
}
.menu-page__item._active .submenu-page__column {
  display: block;
}
@media (min-width: 61.99875em) {
  .menu-page__item._active .submenu-page__column {
    z-index: 2;
    transform: translate(0%, 0px);
  }
}
.menu-page__item._active .menu-page__link {
  background-color: #098494;
}
@media (max-width: 61.99875em) {
  .menu-page__item._active .menu-page__link::after {
    transform: translate(0px, -50%) rotate(90deg);
  }
}
.menu-page__link {
  display: block;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  padding: 12px 20px;
  position: relative;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-page__link:hover {
    background-color: #098494;
  }
}
@media (max-width: 61.99875em) {
  .menu-page__link {
    font-size: 14px;
  }
}
@media (min-width: 61.99875em) {
  .menu-page__submenu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    overflow: hidden;
    pointer-events: none;
  }
}

@media (max-width: 61.99875em) {
  .submenu-page {
    background-color: #fff;
  }
}
.submenu-page__column {
  display: none;
}
@media (min-width: 61.99875em) {
  .submenu-page__column {
    display: block;
    position: absolute;
    width: 260px;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(-100%, 0px);
    border: 2px solid #098494;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
}
.submenu-page__menu {
  padding: 20px 0px;
  border-bottom: 1px solid #dedede;
}
.submenu-page__link {
  display: block;
  padding: 10px 40px;
  color: #1ab9ce;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .submenu-page__link:hover {
    background-color: #71c7d3;
    color: #fff;
  }
}
@media (max-width: 61.99875em) {
  .submenu-page__link {
    padding: 5px 20px;
    font-size: 14px;
  }
}
.submenu-page__product {
  padding: 0px 15px;
}
@media (max-width: 61.99875em) {
  .submenu-page__product {
    display: none;
  }
}
.submenu-page__product .item-product {
  border: 0;
}

.items-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -0.9375rem;
}
.items-products__column {
  padding: 0px 0.9375rem;
  flex: 0 1 33.333%;
  margin-bottom: 1.875rem;
}
@media (max-width: 72.5em) and (min-width: 61.99875em) {
  .items-products__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 840px) {
  .items-products__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 600px) {
  .items-products__column {
    flex: 1 1 100%;
  }
}

.item-product {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  overflow: hidden;
  height: 100%;
  border: 1px solid #f5f5f5;
}
.item-product__labels {
  position: absolute;
  top: 15px;
  left: 15px;
}
.item-product__label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  font-weight: 900;
  padding: 0px 15px;
  text-transform: uppercase;
  height: 21px;
  background-color: #fd8424;
}
.item-product__label:not(:last-child) {
  margin-bottom: 5px;
}
.item-product__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16.25rem;
  padding: 0.625rem 0px;
}
.item-product__image img {
  max-width: 100%;
  max-height: 15rem;
}
.item-product__body {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  flex: 1 1 auto;
}
.item-product__title {
  display: inline-block;
  color: #36949f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0px 0px 10px 0px;
  flex: 1 1 auto;
  transition: all 0.3s ease 0s;
}
.item-product__title span {
  display: block;
  font-weight: 900;
}
@media (any-hover: hover) {
  .item-product__title:hover {
    text-decoration: underline;
  }
}
.item-product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s ease 0s;
}
.item-product__old-price {
  flex: 1 1 100%;
  text-align: right;
  color: #999;
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
}
.item-product__add {
  width: 40px;
  height: 40px;
  background: url("../img/icons/cart_gray.png") 0 0 no-repeat;
}
.item-product__price {
  color: #333;
  font-size: 24px;
  font-weight: 900;
}
.item-product__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease 0s;
  transform: translate(-110%, 0px);
}
@media (any-hover: hover) {
  .item-product:hover .item-product__hover {
    transform: translate(0px, 0px);
  }
}

.hover-item-product {
  background-color: rgba(0, 0, 0, 0.8);
  border: 5px solid #f68038;
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.hover-item-product__title {
  font-size: 1rem;
  font-weight: 300;
  color: #c2c2c2;
  margin-bottom: 1.5625rem;
}
.hover-item-product__title span {
  display: block;
  color: #fff;
  font-weight: 900;
  margin-bottom: 0.3125rem;
}
.hover-item-product__body {
  flex: 1 1 auto;
  padding-top: 0.625rem;
}
.hover-item-product__cart {
  display: block;
  background: url("../img/icons/cart_orange.png") 0 0 no-repeat;
  width: 3.5625rem;
  height: 3.5625rem;
  margin: 0px auto 1.5625rem auto;
}
.hover-item-product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hover-item-product__old-price {
  flex: 1 1 100%;
  text-align: right;
  color: #999;
  font-size: 1.125rem;
  font-weight: 300;
  text-decoration: line-through;
  margin-bottom: 0.625rem;
}
.hover-item-product__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f68038;
  line-height: 1.1428571429;
  border-radius: 0.9375rem;
  padding: 0px 0.625rem;
  height: 1.25rem;
  background-color: #fff;
}
.hover-item-product__price {
  font-size: 1.5rem;
  font-weight: 900;
}

.options-item-product__item {
  margin-bottom: 0.625rem;
}
.options-item-product__label {
  margin-bottom: 0.3125rem;
}
.options-item-product__value {
  color: #f68038;
  font-weight: 900;
}

.search-page {
  display: flex;
  position: relative;
}
.search-page__select {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 0px 14px;
  cursor: pointer;
}
@media (max-width: 47.99875em) {
  .search-page__select {
    display: none;
  }
}
.search-page__title {
  display: flex;
  align-items: center;
  color: #666;
  font-weight: 300;
}
.search-page__title span {
  border-bottom: 1px dashed;
  margin: 0px 13px;
}
.search-page__title span:last-child {
  display: none;
}
.search-page__title::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("../img/icons/search_page.png") 0 0 no-repeat;
}
.search-page__title::after {
  content: "";
  transition: transform 0.3s ease 0s;
  width: 10px;
  height: 10px;
  background: url("../img/icons/search_page_arrows.png") 0 0 no-repeat;
}
.search-page__title._category span {
  display: none;
}
.search-page__title._category span:last-child {
  display: block;
}
.search-page__title._active::after {
  transform: rotate(-180deg);
}
.search-page__category {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}
.search-page__input {
  flex: 1 1 auto;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  height: 39px;
}
@media (max-width: 47.99875em) {
  .search-page__input {
    border-left: 2px solid #f2f2f2;
  }
}
.category-search {
  display: none;
  background-color: #fff;
  border: 1px solid #f3f3f3;
}
.category-search::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #f68038;
}
.category-search._active {
  display: flex;
}
.category-search__row {
  display: flex;
}
.category-search__column {
  flex: 0 1 33.333%;
  padding: 25px 40px;
  border-right: 1px solid #f3f3f3;
}
.category-search__column:last-child {
  border: 0;
}
@media (max-width: 72.5em) {
  .category-search__column {
    padding: 25px 20px;
  }
}
.category-search__item:not(:last-child) {
  margin-bottom: 20px;
}
.category-search__checkbox .checkbox__input:checked + .checkbox__text {
  color: #f68038;
}
.category-search__checkbox .checkbox__text {
  color: #999;
}
.category-search__checkbox .checkbox__text::before {
  display: none;
}

.main-slider__slide {
  position: relative;
}
.main-slider__content {
  position: relative;
  z-index: 2;
}
.main-slider__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-slider__dotts {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin: -27.5px 0px 0px 0px;
  counter-reset: item;
}
.main-slider__dotts .swiper-pagination-bullet {
  cursor: pointer;
  margin: 0px 10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-slider__dotts .swiper-pagination-bullet::after {
  opacity: 0;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  font-weight: 900;
  color: #fffefe;
  counter-increment: item;
  content: counter(item);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f68038;
}
.main-slider__dotts .swiper-pagination-bullet-active::after {
  opacity: 1;
}

.content-main-slider {
  padding: 20px 35px 60px 35px;
}
.content-main-slider__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 43px;
  color: #333;
  text-transform: uppercase;
  margin: 0px 0px 50px 0px;
}
.content-main-slider__title span {
  display: block;
  color: #f68038;
}
.content-main-slider__footer {
  text-align: center;
  padding: 15px 0px 0px 0px;
}
.content-main-slider__price {
  font-size: 36px;
  line-height: 24px;
  font-weight: 900;
  color: #ffffff;
}
.content-main-slider__price:not(:last-child) {
  margin-bottom: 24px;
}
.content-main-slider__button {
  height: 33px;
  border: 3px solid #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0px 20px;
}
.content-main-slider__button span {
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0px 30px 0px 0px;
  background: url("../img/icons/btn_arrow.png") right no-repeat;
}

.text-main-slider {
  color: #333;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
}
.text-main-slider__text-1 {
  color: #f68038;
  font-size: 18px;
}
.text-main-slider__text-2 {
  display: inline-block;
  padding: 5px 10px;
  line-height: 1;
  color: #fff;
  background-color: #92918e;
}
.text-main-slider__text-3 {
  color: #979797;
}

.side-title {
  color: #dadada;
  font-size: 1.875rem;
  letter-spacing: 0.046875rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .side-title:hover {
    color: #1ab9ce;
  }
}

.news-side__title {
  display: inline-block;
  margin-bottom: 1em;
}
.news-side__item:not(:last-child) {
  margin-bottom: 2.8125rem;
}
.news-side__sub-title {
  display: inline-block;
  color: #333;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1.6666666667em;
  transition: color 0.3s ease 0s;
  cursor: pointer;
}
@media (any-hover: hover) {
  .news-side__sub-title:hover {
    color: #fd8322;
  }
}
.news-side__body {
  display: flex;
}
.news-side__data {
  flex: 0 0 1.875rem;
  color: #d8d8d8;
  font-size: 1.125rem;
  font-weight: 300;
}
.news-side__data span {
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
}
.news-side__text {
  padding-left: 0.9375rem;
  color: #666;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 300;
}

.reviews-side__title {
  display: inline-block;
  margin-bottom: 0.6666666667em;
}
.reviews-side__item {
  display: inline-block;
}
.reviews-side__item:not(:last-child) {
  margin-bottom: 2.8125rem;
}
@media (any-hover: hover) {
  .reviews-side__item:hover .reviews-side__name,
.reviews-side__item:hover .reviews-side__data {
    transition: all 0.3s ease 0s;
    color: #1ab8ce;
  }
  .reviews-side__item:hover .reviews-side__body {
    transition: all 0.3s ease 0s;
    background-color: #1ab8ce;
    color: #fff;
  }
  .reviews-side__item:hover .reviews-side__body::before {
    color: #64deee;
  }
}
.reviews-side__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}
.reviews-side__name {
  color: #333;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 900;
  text-transform: uppercase;
}
.reviews-side__data {
  color: #999;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase;
}
.reviews-side__body {
  padding: 0.9375rem 0.625rem 0.9375rem 1.875rem;
  color: #666;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 300;
  position: relative;
}
.reviews-side__body::before {
  content: '"';
  position: absolute;
  top: 0;
  left: 0.5rem;
  color: #dadada;
  font-size: 3rem;
  font-weight: 900;
}

.products-slider__header {
  margin-bottom: 1.875rem;
}
@media (min-width: 47.99875em) {
  .products-slider__header {
    display: flex;
  }
}
.products-slider__title {
  flex: 1 1 auto;
  color: #dadada;
  text-transform: uppercase;
  letter-spacing: 0.046875rem;
}
@media (min-width: 72.5em) {
  .products-slider__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  @supports (font-size: clamp( 1.375rem , 1.1845238095rem  +  0.9523809524vw , 1.875rem )) {
    .products-slider__title {
      font-size: clamp( 1.375rem , 1.1845238095rem  +  0.9523809524vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.1845238095rem  +  0.9523809524vw , 1.875rem )) {
    .products-slider__title {
      font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 52.5);
    }
  }
}
@media (max-width: 20em) {
  .products-slider__title {
    font-size: 1.375rem;
  }
}
@media (max-width: 47.99875em) {
  .products-slider__title {
    margin-bottom: 0.9375rem;
  }
}
.products-slider__control {
  display: flex;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .products-slider__control {
    justify-content: flex-end;
  }
}
.products-slider__info {
  padding: 0px 1.25rem;
  color: #999;
  font-weight: 500;
}
.products-slider__info .swiper-pagination-current {
  color: #333;
  font-size: 1.875rem;
  font-weight: 900;
}
.brands-slider {
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
  padding: 1.5625rem 0px;
}
.brands-slider__container {
  position: relative;
}
.brands-slider__slider {
  padding: 0px 2.5rem;
}
.brands-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0.625rem;
}
.brands-slider__slide img {
  max-width: 100%;
  cursor: pointer;
}
.brands-slider__arrow {
  position: absolute;
  top: 50%;
  margin-top: -0.9375rem;
}
.brands-slider__arrow_prev {
  left: 0.625rem;
}
@media (min-width: 72.5em) {
  .brands-slider__arrow_prev {
    left: 0;
  }
}
.brands-slider__arrow_next {
  right: 0.625rem;
}
@media (min-width: 72.5em) {
  .brands-slider__arrow_next {
    right: 0;
  }
}

@media (max-width: 61.99875em) {
  .text-block__container {
    padding: 0;
  }
}
.text-block__body {
  background: url("../img/bg_text.jpg") 0 0 repeat;
  padding-bottom: 0.9375rem;
}
@media (min-width: 72.5em) {
  .text-block__body {
    padding-top: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  @supports (padding-top: clamp( 1.5625rem , 1.0863095238rem  +  2.380952381vw , 2.8125rem )) {
    .text-block__body {
      padding-top: clamp( 1.5625rem , 1.0863095238rem  +  2.380952381vw , 2.8125rem );
    }
  }
  @supports not (padding-top: clamp( 1.5625rem , 1.0863095238rem  +  2.380952381vw , 2.8125rem )) {
    .text-block__body {
      padding-top: calc(1.5625rem + 1.25 * (100vw - 20rem) / 52.5);
    }
  }
}
@media (max-width: 20em) {
  .text-block__body {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 72.5em) {
  .text-block__body {
    padding-left: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  @supports (padding-left: clamp( 1.25rem , 0.8928571429rem  +  1.7857142857vw , 2.1875rem )) {
    .text-block__body {
      padding-left: clamp( 1.25rem , 0.8928571429rem  +  1.7857142857vw , 2.1875rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , 0.8928571429rem  +  1.7857142857vw , 2.1875rem )) {
    .text-block__body {
      padding-left: calc(1.25rem + 0.9375 * (100vw - 20rem) / 52.5);
    }
  }
}
@media (max-width: 20em) {
  .text-block__body {
    padding-left: 1.25rem;
  }
}
@media (min-width: 72.5em) {
  .text-block__body {
    padding-right: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  @supports (padding-right: clamp( 1.25rem , 0.8928571429rem  +  1.7857142857vw , 2.1875rem )) {
    .text-block__body {
      padding-right: clamp( 1.25rem , 0.8928571429rem  +  1.7857142857vw , 2.1875rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , 0.8928571429rem  +  1.7857142857vw , 2.1875rem )) {
    .text-block__body {
      padding-right: calc(1.25rem + 0.9375 * (100vw - 20rem) / 52.5);
    }
  }
}
@media (max-width: 20em) {
  .text-block__body {
    padding-right: 1.25rem;
  }
}
.text-block__title {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #22b7ca;
  margin-bottom: 1.875rem;
}
@media (min-width: 72.5em) {
  .text-block__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  @supports (font-size: clamp( 1.5rem , 1.3571428571rem  +  0.7142857143vw , 1.875rem )) {
    .text-block__title {
      font-size: clamp( 1.5rem , 1.3571428571rem  +  0.7142857143vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.3571428571rem  +  0.7142857143vw , 1.875rem )) {
    .text-block__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 52.5);
    }
  }
}
@media (max-width: 20em) {
  .text-block__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 61.99875em) {
  .text-block__row {
    display: flex;
    margin: 0px -1.875rem;
  }
}
.text-block__column {
  color: #fff;
  margin-bottom: 1.875rem;
}
.text-block__column p {
  font-size: 0.75rem;
  line-height: 1.6666666667;
  letter-spacing: 0.025em;
}
.text-block__column p:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (min-width: 61.99875em) {
  .text-block__column {
    flex: 0 1 50%;
    padding: 0px 1.875rem;
  }
}
.text-block__label {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0.3125rem;
}
.text-block__list li {
  font-size: 0.75rem;
  line-height: 1.6666666667;
  letter-spacing: 0.025em;
}
.text-block__list li:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.text-block__list li::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/li_arrow.png") left no-repeat;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0px 0.9375rem 0px 0.3125rem;
}

.info-menu {
  border-top: 0.1875rem dashed #dadada;
  border-bottom: 0.1875rem dashed #dadada;
  padding: 0.625rem 0px;
}
.info-menu__body {
  display: inline-block;
}
@media (max-width: 47.99875em) {
  .info-menu__body {
    display: flex;
  }
}
.info-menu__line {
  padding: 0.9375rem;
}
.info-menu__line:first-child {
  border-bottom: 0.0625rem solid rgba(176, 176, 176, 0.2);
}
@media (min-width: 47.99875em) {
  .info-menu__line {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 47.99875em) {
  .info-menu__line {
    flex: 0 1 50%;
  }
}
.info-menu__label {
  color: #333;
  font-weight: 900;
}
@media (min-width: 72.5em) {
  .info-menu__label {
    margin-right: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  @supports (margin-right: clamp( 0.00000625rem , -0.8333247024rem  +  4.1666547619vw , 2.1875rem )) {
    .info-menu__label {
      margin-right: clamp( 0.00000625rem , -0.8333247024rem  +  4.1666547619vw , 2.1875rem );
    }
  }
  @supports not (margin-right: clamp( 0.00000625rem , -0.8333247024rem  +  4.1666547619vw , 2.1875rem )) {
    .info-menu__label {
      margin-right: calc(0.00000625rem + 2.1875 * (100vw - 20rem) / 52.5);
    }
  }
}
@media (max-width: 20em) {
  .info-menu__label {
    margin-right: 0.00000625rem;
  }
}
@media (max-width: 47.99875em) {
  .info-menu__label {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 47.99875em) {
  .info-menu__list {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 72.5em) {
  .info-menu__item:not(:last-child) {
    margin-right: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  @supports (margin-right: clamp( 0.00000625rem , -0.7142770833rem  +  3.5714166667vw , 1.875rem )) {
    .info-menu__item:not(:last-child) {
      margin-right: clamp( 0.00000625rem , -0.7142770833rem  +  3.5714166667vw , 1.875rem );
    }
  }
  @supports not (margin-right: clamp( 0.00000625rem , -0.7142770833rem  +  3.5714166667vw , 1.875rem )) {
    .info-menu__item:not(:last-child) {
      margin-right: calc(0.00000625rem + 1.875 * (100vw - 20rem) / 52.5);
    }
  }
}
@media (max-width: 20em) {
  .info-menu__item:not(:last-child) {
    margin-right: 0.00000625rem;
  }
}
@media (max-width: 47.99875em) {
  .info-menu__item {
    margin-bottom: 0.625rem;
  }
}
.info-menu__link {
  color: #1ab9ce;
  font-size: 0.75rem;
  font-weight: 300;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .info-menu__link:hover {
    color: #333;
  }
}

.filter {
  border: 4px solid #72c9d4;
}
.filter__title {
  padding: 1.25rem 0.625rem 0.3125rem 0.625rem;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #36949f;
}
.section-filter {
  padding: 1.875rem 0.625rem;
}
.section-filter__title {
  display: flex;
  align-items: center;
  min-height: 1.875rem;
  font-size: 16px;
  font-weight: 900;
  color: #36949f;
  margin-bottom: 0.9375rem;
}
.price-filter {
  margin-top: 0.3125rem;
  background-color: #eaeaea;
  height: 4px;
}

.noUi-base {
  position: relative;
  height: 0.25rem;
}

.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-handle-left {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid #f68038;
  border-radius: 50%;
}

.noUi-handle {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid #f68038;
  border-radius: 50%;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
